.field_with_errors {
  @extend .has-error;
  label {
    color: #b94a48;
  }
}
/* Global Styles */

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: image-url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: image-url('callout.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Team */

.team {
  padding: 50px 0;
  margin-bottom: 50px;
}

.people {
  margin-bottom: 35px;
}

.team-icon {
  color: #333;
  font-size: 24px;
}
.team-icon:hover {
  color: #0a5175;
}

/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
  
  .header {
  background: image-url('bg.jpg') no-repeat center center scroll; 
  }

  .callout {
  background: image-url('callout.jpg') no-repeat center center scroll; 
  }

  .map {
  height: 75%;
  }

}

/* custom */
.navbar-nav .btn-call-to-action {
  margin-left: 15px;
  margin-right: 15px;
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-nav > li > a.btn {
  color: #fff;
}

.navbar-nav > li > a.btn.btn-primary:hover {
  background: #3276b1;
  border-color: #285e8e;
  color: #fff;
}

