<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Hack3rSchoolMX', root_path, class: 'navbar-brand'%>
    </div>
  </div>
</header>
